In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [5]:
df = pd.read_csv("/content/new_dataset.csv")

In [6]:
df.head()

   Unnamed: 0 COMMUNITY  RANK  COM.RANK  AGGR MARK  COLLEGE CODE BRANCH CODE
0           1        BC     5       3.0     200.00             1          CS
1           2        SC     7       1.0     200.00             1          CS
2           3        BC     8       4.0     200.00             1          CS
3           4        BC    10       6.0     200.00             1          EC
4           6        OC    12       8.0     199.75             1          EE

In [7]:
df = df.drop(['Unnamed: 0'],axis=1)
df = df.drop(['BRANCH CODE'],axis=1)
dfc1 = df.loc[df['COLLEGE CODE'] == 1]
dfc2 = df.loc[df['COLLEGE CODE'] == 0]
dfc2 = dfc2.sample(frac = 1)
dfc2 = dfc2.head(4500)
df = pd.concat([dfc1,dfc2], axis=0)
df = df.sample(frac = 1)
community = {'BC':1,'SC':2,'OC':3,'BCM':4,'MBC':5,'SCA':6,'ST':7,'MBC/DNC':5,'MBCV':5,'MBCDNC':5}
df.COMMUNITY = [community[item] for item in df.COMMUNITY]
dfs = df.sort_values(['RANK','AGGR MARK'],ascending=[True,False])

In [26]:
x = df.iloc[:,0:4]
x.head()

       COMMUNITY   RANK     COM.RANK  AGGR MARK
7003           2  16408   734.000000     185.50
52976          1  17883  5905.195401     184.50
65539          1   2323  5905.195401     195.50
27761          1   1933  5905.195401     190.00
516            5   1793   304.000000     196.75

In [28]:
y = df.iloc[:,4:5 ]
y.head()

       COLLEGE CODE
7003              1
52976             0
65539             0
27761             0
516               1

In [29]:
print(f'x contains: {x.shape[0]} rows and {x.shape[1]} columns')

x contains: 9306 rows and 4 columns

In [30]:
print(f'y contains: {y.shape}')

y contains: (9306, 1)

In [31]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x[x.columns] = scaler.fit_transform(x[x.columns])

In [32]:
x.head()

       COMMUNITY      RANK  COM.RANK  AGGR MARK
7003    0.166667  0.366449  0.001298   0.701031
52976   0.000000  0.399392  0.010451   0.680412
65539   0.000000  0.051862  0.010451   0.907216
27761   0.000000  0.043151  0.010451   0.793814
516     0.666667  0.040024  0.000536   0.932990